h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #e93e2a;
  font-size: 35px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 18px;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
  padding-top: 36px;
  padding-bottom: 8px;
  background-color: #fff;
}

.navlink {
  padding: 15px;
  font-size: 13px;
  font-weight: 600;
}

.navlink.spenden {
  background-color: #e93e2a;
  color: #fff;
}

.navlink.spenden.fix {
  margin-top: 11px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbutton {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  background-color: #e93e2a;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

.navbutton:hover {
  background-color: #d62c18;
}

.navbutton.content {
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  padding: 13px 25px;
}

.navbutton.links {
  float: left;
}

.navcontainer {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-menu {
  margin-top: 14px;
  float: right;
}

.slide {
  background-image: url('../images/IMG_3850.JPG');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider {
  height: 60vh;
}

.slide-tease01 {
  position: relative;
  left: 0px;
  top: 61%;
  right: 0px;
  display: block;
  width: 35vw;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  background-color: rgba(233, 62, 42, .56);
  text-align: center;
}

.slide-tease01._02 {
  margin-bottom: 15px;
}

.slide-teaser-head {
  display: inline;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.slide-teaser-copy {
  color: #fff;
  text-align: center;
}

.slide-teaser-button {
  padding: 5px 10px;
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
}

.slide-teaser-button:hover {
  background-color: #fff;
  color: #e93e2a;
}

.head-h1 {
  color: #e93e2a;
  font-size: 35px;
}

.hero-teaser {
  margin-top: 40px;
  margin-bottom: 40px;
}

.hero-copy {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.hero-copy.kleiner {
  font-size: 14px;
  line-height: 20px;
}

.container {
  display: block;
  padding-right: 60px;
  padding-left: 60px;
  text-align: center;
}

.image-round-3 {
  width: 130px;
  border-radius: 50%;
}

.teaser-3-head {
  color: #e93e2a;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
}

.teaser-3-head.kleiner {
  margin-top: 10px;
  font-size: 14px;
}

.teaser-3-head.auf-weiss {
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.teaser-3-copy {
  text-align: center;
}

.teaser-3-copy.auf-weiss {
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  color: #3a3a3a;
}

.link-block {
  padding-right: 25px;
  padding-left: 25px;
  color: #3a3a3a;
  text-decoration: none;
}

.weiter-lesen {
  color: #e93e2a;
}

._50-50 {
  margin-top: 40px;
  margin-bottom: 40px;
}

._50-50.spendenform {
  margin-bottom: 80px;
}

._50-50-text {
  display: inline-block;
  height: 35vh;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #e93e2a;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  height: 35vh;
  background-image: url('../images/eltern.png');
  background-position: 50% 23%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

._50-50-text-head {
  margin-top: 10px;
  color: #fff;
  font-size: 25px;
  text-align: left;
}

._50-50-copy {
  color: #fff;
  text-align: left;
}

._50-50-dachzeile {
  display: block;
  margin-top: 0px;
  color: #fff;
  font-size: 17px;
  text-align: left;
}

.info-head {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e93e2a;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.info-bullet {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

.image {
  padding-right: 4px;
  padding-left: 4px;
  float: right;
}

.column-3 {
  display: inline-block;
  height: 40vh;
  background-image: url('../images/mama2.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-5 {
  padding-right: 0px;
  padding-left: 0px;
}

.head-h2 {
  margin-bottom: 47px;
  color: #e93e2a;
}

.head-h2.weiss {
  margin-bottom: 49px;
  color: #fff;
}

.section-infos {
  margin-top: 80px;
  margin-bottom: 40px;
}

.section-hilft {
  height: 63vh;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: #f3f3f3;
}

.row {
  margin-top: 15px;
  margin-left: 0px;
}

.row-2 {
  margin-top: 58px;
}

.section-erfahrung {
  height: 520px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.column-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block {
  padding: 30px;
}

.column-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.section-aktiv {
  height: 870px;
  margin-bottom: 80px;
  padding-top: 40px;
  background-image: -webkit-linear-gradient(270deg, #797979, #797979);
  background-image: linear-gradient(180deg, #797979, #797979);
}

.div-block-2 {
  height: auto;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff;
}

.column-8 {
  position: static;
  display: block;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.datum-teaser {
  margin-top: 13px;
  color: #3a3a3a;
  font-size: 18px;
  font-weight: 700;
}

.link-block-aktiviti {
  position: static;
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  float: none;
  text-decoration: none;
}

.column-9 {
  position: static;
  padding-right: 0px;
  padding-left: 0px;
}

.column-10 {
  padding-right: 0px;
  padding-left: 0px;
}

.section-kontakt {
  margin-bottom: 80px;
}

.name {
  margin-top: 15px;
  font-size: 18px;
}

.name-bezeichnung {
  display: block;
}

.column-11 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-13 {
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-3 {
  padding: 10px;
}

.section-kontakt-orange {
  position: relative;
  height: 300px;
  margin-bottom: 0px;
  background-color: #e93e2a;
  text-align: center;
}

.bez-kontakt {
  margin-top: 35px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.kontakt-info {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.link-block-2 {
  position: static;
  margin-top: 50px;
  text-decoration: none;
}

.image-kontakt {
  margin-bottom: 5px;
}

.section-footer {
  height: 150px;
  margin-top: 80px;
  text-align: center;
}

.impressum-rechte {
  margin-top: 15px;
  color: #e93e2a;
  font-weight: 400;
}

.div-block-4 {
  display: block;
  background-color: #fff;
}

.container-2 {
  display: block;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.column-14 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-15 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-16 {
  padding-right: 0px;
  padding-left: 0px;
}

.slide-2 {
  background-image: url('../images/gruppe6.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-5 {
  width: 60vw;
}

.container-50-50 {
  position: static;
  display: block;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 100px;
  padding-right: 0px;
}

.image-3 {
  position: relative;
  bottom: 6px;
}

.row-4 {
  position: static;
  margin-right: 0px;
  margin-left: 0px;
}

.text-field {
  position: static;
  display: block;
  width: 100%;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-block-7 {
  position: static;
  display: inline-block;
  clear: none;
}

.newsletter {
  padding-top: 80px;
  padding-bottom: 81px;
  background-color: #f3f3f3;
  text-align: center;
}

.div-block-8 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  float: none;
  background-color: #fff;
}

.section {
  height: 55px;
  background-color: #3a3a3a;
}

.impressum-link {
  display: inline-block;
  padding: 15px;
  float: none;
  color: #fff;
  text-decoration: none;
}

.impressum-link:hover {
  color: #adadad;
}

.container-3 {
  padding-top: 0px;
  text-align: center;
}

.fixed-navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 9999;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #d4d4d4;
  background-color: #fff;
}

.container-4 {
  padding-top: 20px;
  padding-bottom: 13px;
}

.brand {
  margin-top: 5px;
}

.section-2 {
  margin-top: 66px;
  margin-bottom: 80px;
}

.container-5 {
  position: relative;
}

.row-5 {
  position: relative;
}

.image-4 {
  position: absolute;
  float: none;
}

.image-5 {
  position: absolute;
  clear: left;
}

.div-block-9 {
  position: relative;
  clear: left;
  text-align: left;
}

.image-rt {
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
}

.div-block-10 {
  height: 30px;
  margin-top: 18px;
  background-color: #e93e2a;
}

.section-ber-uns {
  margin-top: 123px;
  margin-bottom: 131px;
}

.tabs-menu {
  border-bottom: 1px solid #e93e2a;
  text-align: center;
}

.rich-text-block {
  margin-top: 30px;
  border-bottom: 1px solid #e93e2a;
  text-align: left;
}

.tab-link {
  margin-right: 10px;
}

.tab-link.w--current {
  margin-right: 10px;
  background-color: #e93e2a;
  color: #fff;
}

.tab-link.w--current:hover {
  background-color: #adadad;
}

.tab-link-2 {
  margin-right: 10px;
}

.tab-link-2:hover {
  background-color: #adadad;
}

.tab-link-2.w--current {
  background-color: #e93e2a;
  color: #fff;
}

.tab-link-3 {
  margin-right: 10px;
}

.tab-link-3:hover {
  background-color: #adadad;
}

.tab-link-3.w--current {
  background-color: #e93e2a;
  color: #fff;
}

.rich-text-block-2 {
  margin-top: 30px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #e93e2a;
  text-align: left;
}

.rich-text-block-3 {
  margin-top: 30px;
  text-align: left;
}

.container-6 {
  margin-top: 35px;
}

.tab-pane {
  border-bottom-color: #e93e2a;
}

.tab-pane-2 {
  border-bottom-color: #e93e2a;
}

.button {
  float: left;
  text-align: left;
}

.link {
  color: #e93e2a;
  text-decoration: none;
}

.link.w--current {
  color: #e93e2a;
}

.link-2 {
  text-decoration: none;
}

.link-2.w--current {
  color: #e93e2a;
}

.link-2.bv {
  color: #e93e2a;
}

.text-block {
  display: inline-block;
  color: #fff;
}

html.w-mod-js *[data-ix="fix-navabr"] {
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="show-navbar"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media (max-width: 991px) {
  .navlink {
    color: #fff;
  }
  .navlink.spenden {
    background-color: #e93e2a;
  }
  .navbutton {
    left: 23px;
    float: left;
  }
  .navbutton.content {
    left: 0px;
    float: none;
  }
  .nav-menu {
    background-color: #3a3a3a;
  }
  .slider {
    height: 50vh;
  }
  .slide-tease01 {
    top: 51%;
    width: 55vw;
  }
  .teaser-3-head {
    font-size: 18px;
  }
  .teaser-3-head.kleiner {
    line-height: 20px;
  }
  .teaser-3-head.auf-weiss {
    font-size: 18px;
  }
  .teaser-3-copy {
    font-size: 14px;
  }
  .teaser-3-copy.auf-weiss {
    font-size: 14px;
    line-height: 20px;
  }
  ._50-50-text {
    height: 30vh;
  }
  .column-2 {
    height: 30vh;
  }
  ._50-50-text-head {
    font-size: 22px;
    line-height: 32px;
  }
  ._50-50-dachzeile {
    font-size: 16px;
  }
  .column-3 {
    padding-left: 0px;
    background-size: 100%;
  }
  .section-hilft {
    height: 65vh;
    margin-top: 5px;
    margin-bottom: 53px;
  }
  .section-erfahrung {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section-aktiv {
    height: 90vh;
  }
  .column-9 {
    display: block;
  }
  .container-50-50 {
    margin-top: 25px;
    margin-left: 20px;
  }
  .burger.w--open {
    top: 17px;
    background-color: #3a3a3a;
  }
}

@media (max-width: 767px) {
  .navbutton.content {
    position: static;
    display: inline-block;
  }
  .slide {
    background-position: 50% 79%;
    background-size: auto 600px;
  }
  .slider {
    height: 35vh;
  }
  .slide-tease01 {
    top: 43%;
    width: 80vw;
    padding: 4px 5px;
  }
  .slide-tease01._02 {
    top: 47%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .hero-copy {
    font-size: 14px;
  }
  .teaser-3-container {
    position: static;
    overflow: visible;
    margin-bottom: 0px;
    float: none;
  }
  ._50-50-text {
    height: 25vh;
  }
  .column-2 {
    height: 25vh;
  }
  .section-hilft {
    height: 100vh;
    padding: 24px 20px;
  }
  .row {
    padding-right: 118px;
    padding-left: 118px;
  }
  .row-2 {
    display: block;
    float: none;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .section-erfahrung {
    height: 115vh;
  }
  .section-aktiv {
    height: 210vh;
  }
  .div-block-2 {
    margin-right: 86px;
    margin-left: 86px;
  }
  .link-block-aktiviti {
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }
  .div-block-3 {
    margin-bottom: 32px;
  }
  .section-kontakt-orange {
    height: 610px;
  }
  .bez-kontakt {
    margin-top: 13px;
  }
  .kontakt-info {
    margin-bottom: 25px;
  }
  .link-block-2 {
    margin-top: 32px;
  }
  .div-block-4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .row-3 {
    padding-right: 79px;
    padding-left: 79px;
  }
  .rich-text-block {
    padding-right: 20px;
    padding-left: 20px;
  }
  .column-17 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-18 {
    position: static;
    overflow: visible;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-19 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .navbar {
    padding-top: 13px;
    padding-bottom: 0px;
  }
  .slide {
    background-position: 61% 96%;
    background-size: auto 450px;
  }
  .slider {
    height: 300px;
  }
  .slide-tease01 {
    top: 56%;
    width: 70vw;
  }
  .slide-tease01._02 {
    top: 55%;
    width: 70vw;
    margin-bottom: 0px;
  }
  .slide-teaser-head {
    display: block;
    margin-top: -4px;
    font-size: 18px;
  }
  .slide-teaser-copy {
    font-size: 14px;
  }
  .slide-teaser-button {
    position: static;
    display: inline-block;
    margin-bottom: 7px;
    float: none;
    clear: none;
  }
  .head-h1 {
    margin-top: 2px;
    margin-bottom: 21px;
    font-size: 33px;
    line-height: 32px;
  }
  .hero-copy {
    line-height: 20px;
  }
  .container {
    padding-right: 29px;
    padding-left: 29px;
  }
  .link-block {
    margin-bottom: 52px;
  }
  ._50-50-text {
    height: auto;
  }
  .column-2 {
    height: 200px;
  }
  ._50-50-copy {
    margin-bottom: 22px;
  }
  .head-h2 {
    font-size: 28px;
  }
  .section-hilft {
    height: auto;
    padding-right: 14px;
    padding-left: 14px;
  }
  .row {
    padding-right: 29px;
    padding-left: 29px;
  }
  .section-erfahrung {
    height: auto;
  }
  .section-aktiv {
    height: auto;
    margin-bottom: 55px;
  }
  .div-block-2 {
    margin-right: 26px;
    margin-left: 26px;
  }
  .burger {
    padding-top: 1px;
  }
  .row-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-6 {
    margin-bottom: 34px;
  }
  .section-2 {
    padding-right: 19px;
    padding-left: 19px;
  }
  .section-ber-uns {
    margin-top: 23px;
    margin-bottom: 59px;
  }
  .tabs-menu {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .tab-link.w--current {
    margin-right: 0px;
    margin-bottom: 5px;
    text-align: center;
  }
  .tab-link-2 {
    margin-right: 0px;
    margin-bottom: 5px;
    text-align: center;
  }
  .tab-link-3 {
    margin-right: 0px;
    text-align: center;
  }
  .tabs {
    text-align: center;
  }
  .tabs-content {
    text-align: center;
  }
}