body {
	background-color: #F8F8F8;
	color: #444;
	font: normal normal 12px/150% 'verdana';
	margin: 20px 0 20px 0;
	padding: 0;
	text-align: center;
	}
.mainlevel{
		text-align: left;
		border-right: 5px solid #C4C4C4;
		}

	.mainlevel a:link,
	.mainlevel a:visited{
		background-color: #FFFFFF;
		display: block;
		margin: 0;
		padding: 0px 0 0px 15px;
		text-decoration: none;
		width: 135px;
		font: normal normal 11px/150% Verdana;
	}

	.mainlevel a:hover,
	.mainlevel a:active{
		background: #FFFFF url(../images/bullet_two.gif) no-repeat 5px;
	}
	
a:link,
a:visited{
	background-color: transparent;
	color: #003366;
	text-decoration: underline;
}

a:hover,
a:active{
	background-color: transparent;
	color: #396E98;
	text-decoration: underline;
}

p {
	text-align: justify;
	}

form {
	margin: 0px;
	padding: 0px;
	}

#top_search form {
	margin: auto;
	width: 750px;
	text-align: left;
	}

	#top_search p {
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 0px 10px;
		font: normal bold 14px/150% 'Arial';
		text-transform: uppercase;
		color: #707070;
		border-left: 10px maroon solid;
		}

	#top_search form .text {
		padding-left: 3px;
		font: normal normal 12px/100% 'Courier';
		border-top: 2px #CCC solid;
		border-left: 2px #CCC solid;
		border-right: 2px #CCC solid;
		border-bottom: 2px #CCC solid;
		}

	#top_search form .submit {
		font: normal bold 12px/100% 'Courier';
		color: #707070;
		background: #E2E2E2;
		border-top: 2px #CCC solid;
		border-left: 2px #CCC solid;
		border-right: 2px #CCC solid;
		border-bottom: 2px #CCC solid;
		}	

#wrapper{
	margin: auto;
	width: 750px;
	border-top: 10px #2E5EA2 solid;
	border-bottom: 10px #2E5EA2 solid;
	/*border-bottom: 10px #BE9800 solid;*/
	background: #FFF;
	}

#header{
	text-align: left;
	font: normal bold 2em/150% 'verdana';
	color: #2E5EA2;
	padding: 5px 0px 5px 10px;
	background: #CCD8E8;
	}

#container{
	background: #FFF;
	}

#side_panel{
	float: left;
	width: 175px;
	}

	#general_nav{
		text-align: left;
		border-right: 5px solid #C4C4C4;
		}

	#general_nav h3 {
		margin: 0px;
		font: normal bold 14px/150% 'Arial';
		color: #7A7A7A;
		padding: 3px 0px 3px 5px;
		border-bottom: 1px #C4C4C4 solid;
		background: #EFEFEF;
		text-transform: uppercase;
		}

	#general_nav a:link,
	#general_nav a:visited{
		background-color: #FFFFFF;
		display: inline;
		margin: 0;
		padding: 0px 0 0px 15px;
		text-decoration: none;
		width: 135px;
		font: normal normal 11px/150% Verdana;
	}

	#general_nav a:hover,
	#general_nav a:active{
		background: #FFFFF url(../images/bullet_two.gif) no-repeat 5px;
	}

#copyright{
	clear: both;
	background: #CCD8E8;
	/*background: #F7F4D7;*/
	color: #2E5EA2;
	border-top: 1px #bbb solid;
	}

	#copyright a:link,
	#copyright a:visited{
		color: #2E5EA2;
		text-decoration: underline;
	}

	#copyright a:hover,
	#copyright a:active{
		color: #2E5EA2;
		text-decoration: underline;
	}

#top_nav {
	border-bottom: 1px #bbb solid;
	background: #CCD8E8;
	text-align: right;
	}

	#top_nav p {
		margin: 0px;
		padding: 0px 0px 5px 5px;
		float: left;
		}

	#top_nav ul{
		margin: 0px 0px 5px 0px;
		padding: 0px;
		}

	#top_nav li{
		display: inline;
		margin: 0px;
		padding: 0px;
		}

	#top_nav a:link,
	#top_nav a:visited{
		background: #F8F8F8;
		font-weight: bold;
		color: #969696;
		margin: 0 10px 0 0;
		padding: 8px 8px 7px 8px;
		text-decoration: none;
		border: 1px solid #BBB;
		}

	#top_nav a:hover,
	#top_nav a:active{
		background: #F2F2F2;
		margin: 0 10px 0 0;
		padding: 8px 8px 7px 8px;
		text-decoration: none;
		}

	#top_nav a:link.active,
	#top_nav a:visited.active{
		background: #fff;
		color: #000;
		margin: 0 10px 0 0;
		padding: 8px;
		text-decoration: none;
		border: 1px solid #BBB;
		border-bottom-width: 0px;
		}

	#top_nav a:hover.active,
	#top_nav a:active.active{
		margin: 0 10px 0 0;
		padding: 8px;
		text-decoration: none;
		}

#content{
	padding: 10px 10px 0px 0px;
	float: right;
	margin-bottom: 15px;
	background: #FFF;
	width: 550px;
	}

	#content .entry {
		padding: 0px 0px 5px 0px;
		text-align: left;
		margin: 0px 0px 20px 0px;
		}

		#content .entry p {
		text-align: justify;
		font: normal normal 12px/150% 'Verdana';
		color: #444;
		}

		#content .entry p.posted {
		vertical-align: top;
		margin: 0px;
		font: italic normal 1em/100% 'Verdana';
		color: #B0B0B0;
		float: right;
		}

		#content .entry h2 {
		font: normal normal 2.0em/100% 'Arial';
		text-align: left;
		padding: 0px 0px 5px 0px;
		margin: 0px 0px 3px 0px;
		border-bottom: 1px #EEE solid;
		}

		#content .entry h2 a:link,
		#content .entry h2 a:visited{
		color: #444;
		text-decoration: none;
		}

		#content .entry h2 a:hover,
		#content .entry h2 a:active{
		color: #BEBEBE;
		}

		#content .entry .categories {
		margin: 3px 0px 0px 0px;
		font: normal normal 12px/100% 'Verdana';
		text-align: left;
		padding: 3px 5px 3px 5px;
		border: 1px #EEE solid;
		border-top-width: 0px;
		background: #F1F1F1;
		}

		#content .entry .categories a:link,
		#content .entry .categories a:visited{
		color: #7A7A7A;
		text-decoration: none;
		}

		#content .entry .categories a:hover,
		#content .entry .categories a:active{
		color: #BEBEBE;
		text-decoration: none;
		}			

		#content .entry p.links {
		float: right;
		margin: 0px;
		}

		#content .entry p.author {
		}

#recent_entry {
	text-align: left;
	margin: 0px;
	padding: 0px;
	}

	#recent_entry h3 {
		background: #E4F7B7;
		color: #86B747;
		font: normal bold 14px/150% 'Arial';
		padding: 3px 0px 3px 5px;
		text-transform: uppercase;
		border-right: 5px #86B747 solid;
		}

	#recent_entry ul {
		margin: 0px 0px 0px 0px;
		padding: 0px;
		list-style: none;}

	#recent_entry li {
		padding-left: 20px;
		margin: 5px;
		text-align: left;
		color: #86B747;
		font: normal normal 10px/150% Verdana;
		background: transparent url(bullet_article.gif) 0 4px no-repeat; }

	#recent_entry a{
		display: block;
		color: #539E17;
		background-color: #FFF;
		margin: 0;
		padding: 0px 0 0px 0px;
		text-decoration: none;
	}

	#recent_entry a:hover {
		text-decoration: underline;
	}
	
td, tr, p, div {
  font-family      : arial,verdana, Helvetica, sans-serif;
  font-size        : 11px;
  color            : #000000;
}

ul {
  margin           : 0px 0px 0px 0px;
}

li {
  list-style-image   : url('../images/arrow.gif');
  list-style-position: inside;
}

hr {
  background       : #C0C0C0;
  height           : 1px;
  width            : 100%;
}

.sublevel {
  padding-top      : 2px;
  padding-bottom   : 2px;
  letter-spacing   : 2px;
}

a.sublevel:hover {
  padding          : 2px 10px 2px 5px;
  color            : #4F7ABB;
  font-size        : 10px;
  text-decoration  : underline;
}

a.sublevel:link, a.sublevel:visited {
  padding          : 2px 10px 2px 5px;
  color            : #4F7ABB;
  font-weight      : normal;
  font-size        : 10px;
}

table.moduletable {
  padding-top      : 2px;
  padding-bottom   : 2px;
  width            : 150px;
}

table.moduletable th {
  vertical-align   : middle;
  height           : 20px;
  font-size        : 11px;
  font-weight      : none;
  color            : #031A6F;
  text-align       : left;
  text-indent      : 23px;
}


.sectiontableheader {
  background-color : #FAFAFA;
  color            : #000000;
  height           : 20px;
  font-weight      : none;
  border-bottom    : 1px dotted #AFAFAF;
  border-top       : 1px dotted #AFAFAF;
}

.sectiontableentry1 {
  background-color : #FFFFFF;
}

.sectiontableentry2 {
  background-color : #FAFAFA;
}


.small {
  font-family      : arial,verdana, Helvetica, sans-serif;
  font-size        : 9px;
  color            : #AFAFAF;
  text-decoration  : none;
  font-weight      : normal;
}

.smalldark {
  font-family      : arial,verdana, Helvetica, sans-serif;
  font-size        : 9px;
  color            : #AFAFAF;
  text-decoration  : none;
  font-weight      : normal;
}


.contentpane {
  text-align       : justify;
  background       : #FFFFFF;
}

.contentpaneopen {
  text-align       : justify;
  background       : #FFFFFF;
}

.contentheading, .componentheading {
  font-family        : arial,verdana, Helvetica, sans-serif;
  font-size          : 13px;
  font-weight        : normal;
  height             : 20px;
  color              : #031A6F;
  text-align         : left;
  letter-spacing     : 1px;
  background-image   : url(../images/separa.gif);
  background-repeat  : no-repeat;
  background-position: top left;
  text-indent        : 30px;
}

.createdate {
  font-family      : Georgia, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #999999;
  text-align       : left;
}

.modifydate {
  font-family      : Georgia, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #999999;
  text-align       : left;
  text-decoration  : italic;
}


.button {
  font-family      : Georgia, Helvetica, sans-serif;
  font-style       : normal;
  font-weight      : bold;
  font-size        : 9 px;
  text-align       : center;
  color            : #000000;
  background       : White;
  border           : 1px solid #EBEBEB;
}

.inputbox {
  font-family      : Georgia, Helvetica, sans-serif;
  font-size        : 9px;
  color            : #000000;
  font-weight      : normal;
  background       : #FFFFFF;
  border           : 1px solid #EBEBEB;
}

a.category:link, a.category:visited {
  color            : #285078;
  font-weight      : bold;
  letter-spacing   : 1px;
}

a.category:hover {
  color            : #999999;
}


.ontab {
  background-color : #ffae00;
  border-left      : outset 2px #ff9900;
  border-right     : outset 2px #808080;
  border-top       : outset 2px #ff9900;
  border-bottom    : solid 1px #d5d5d5;
  text-align       : center;
  cursor           : hand;
  font-weight      : bold;
  color            : #FFFFFF;
}

.offtab {
  background-color : #e5e5e5;
  border-left      : outset 2px #E0E0E0;
  border-right     : outset 2px #E0E0E0;
  border-top       : outset 2px #E0E0E0;
  border-bottom    : solid 1px #d5d5d5;
  text-align       : center;
  cursor           : hand;
  font-weight      : normal;
}

.tabpadding {
}

.tabheading {
  background-color : #ffae00;
  text-align       : left;
}

.pagetext {
  visibility       : hidden;
  display          : none;
  position         : relative;
  top              : 0;
}