/* ---------------------- Hello, Africa! ------------------------*/
/* ---------------- Custom Styling Classes ---------------------*/
/* ----------- Created by [ Anch ] Gorsk.net studio -----------*/

/* ---------------- Template Layout ----------------------*/
IMG {border: 0;}

body {
margin-top: 10px;
padding: 0px;
	}
	
.main_table {
border-top: 1px solid #999966;
border-left: 2px solid #999966;
border-bottom: 2px solid #999966;
border-right: 2px solid #999966;
	}

.left_td {
background-image: url(../images/left_bg.gif);
background-repeat: repeat;
border-bottom: 1px solid #999966;
border-right: 2px solid #999966;
padding-bottom: 4px;
	}

.right_td {
border-bottom: 1px solid #999966;
	}

.top_td {
background-image: url(../images/orange_bg.gif);
background-repeat: repeat;
border-bottom: 1px solid #999966;
border-top: 1px solid #999966;
	}

.mod_top {
background-image: url(../images/topmod_bg.gif);
background-repeat: repeat;
border-bottom: 2px solid #999966;
	}

.path_td {
background-image: url(../images/path_bg.gif);
background-repeat: repeat;
border-bottom: 1px solid #999966;
text-align: left;
	}

.bot_td1 {
border-right: 2px solid #999966;	
	}

.bot_td2 {
background-image: url(../images/orange_bg.gif);
background-repeat: repeat;
	}

/* ---------------- General Style ----------------------*/

td,tr,p,div {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
	}

a:link, a:visited {
color: #CC3300;
text-decoration: none;
	}

a:hover {
color: #663300;
	}
	
ul {
margin: 0px;
padding: 0px;
list-style: none;
	}

li {
background-image: url(../images/arrow.png);
background-position: left;
background-repeat: no-repeat;
padding-left: 10px;
	}

hr {
width: 100%;
background-color: #999966; 
	}

/* ---------------- Style for SimpleBoard Forum ----------------------*/

.pagenavbar {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #663300; 
	}

/* ---------------- Page Navigation Style ----------------------*/
	
.pagenav {
line-height: 20px;
background-color: #FEE07D;
border: 1px solid #663300;
padding: 2px 2px 3px 2px;
color: #996600;
font-size: 10px;
font-weight: bold;
	}

a.pagenav, a.pagenav:visited {
color: #663300;
	}

a.pagenav:hover {
color:#993300;
	}

	
.pathway {
line-height: 20px;
height: 20px;
padding: 0px 2px;
	}

a.pathway:link, a.pathway:visited {
color: #993300;
	}

a.pathway:hover {
color: #333300;
	}
	
/* ---------------- Mambo Form Styles ----------------------*/

.button {
background-color: #FF9966;
border: 1px solid #999966;
font-size: 10px;
color: #663300;
font-weight: bold;
margin: 3px 1px 3px 1px;
	}

.inputbox {
background-color: #FFEFCA;
border: 1px solid #999966;
font-size: 10px;
font-weight: normal;
color: #663300;
margin: 2px 1px 2px 1px;
	}

.back_button {
float: none;
line-height: 18px;
margin-top: 8px;
margin-bottom: 6px;
background-color: #FFEFCA;
text-align: center;
font-weight: bold;
padding: 2px 0px 2px 0px;
	}

/* ---------------- Mambo Menu Style ----------------------*/

a.mainlevel:link, a.mainlevel:visited {
display: block;
background: url(../images/menu_bg.gif) no-repeat;
vertical-align: middle;
font-size: 11px;
font-weight: bold;
color: #993300;
text-align: left;
padding-top: 5px;
padding-left: 20px;
height: 18px !important;
height: 23px;
width: 100%;
text-decoration: none;
	}

a.mainlevel:hover {
background-position: 0px -23px;
text-decoration: none;
color: #663300;
	}
	
a#active_menu {
color: #333300;
	}
	
a.sublevel:link, a.sublevel:visited {
display: block;
border-bottom: 1px solid #999966;
border-left: 2px solid #999966;
line-height: 18px;
font-size: 10px;
font-weight: bold;
color: #993300;
text-align: left;
width: 100%;
text-decoration: none;
padding-left: 4px;
	}

a.sublevel:hover {
color: #663300;
text-decoration: none;
	}

ul#mainlevel-nav {
list-style: none;
padding: 0;
margin: 0;
	}

ul#mainlevel-nav li {
display: block;
background-image: none;
padding-left: 5px;
padding-right: 5px;
float: right;
text-align: center;
font-weight: bold;
margin: 0;
width: auto !important;
font-size: 11px;
line-height: 16px;
white-space: nowrap;
border-left: 1px solid #CC3300;
	}

/* --------- Mambo General style for Sections/Categories/Contents ---------*/
 
.createdate {
font-size: 10px;
color: #999966;
	}

.modifydate {
font-size: 10px;
color: #999966;
	}

a.readon:link, a.readon:visited {
font-size: 10px;
color: #663300;
font-weight: bold;
text-decoration: underline;
	}

a.readon:hover {
color: #CC3300;
	}

.small {
font-size: 10px;
color: #999966;
	}

.smalldark {
font-size: 10px;
color: #999966;
font-weight: bold;
	}

/* --------- Mambo Styling for Contents ---------*/
 
.contentpane {
background-color: transparent;
	}

.contentpaneopen {
text-align: justify;
width: 100%;
margin-bottom: 6px;
	}

.contentheading {
line-height: 22px;
background-image: url(../images/art_bg.jpg);
background-repeat: no-repeat;
background-position: left;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #663300;
padding-left: 24px;
border-bottom: 1px solid #663300;
border-left: 2px solid #663300;
	}

table.contenttoc {
background-color: #FFEFCA;
border: 1px solid #999966;
margin-left: 4px;
	}

table.contenttoc td {
line-height: 18px;
padding: 0px 2px;
border-top: 1px solid #999966;
	}

table.contenttoc th {
line-height: 20px;
background-color: #FEB05E;
border-bottom: 1px solid #999966;
font-weight: bold;
color: #993300;
	}

.pagenavcounter {
font-size: 10px;
font-weight: bold;
color: #CC3300;
	}

/* --------- Mambo Sections Style ---------*/

.sectiontableheader {
line-height: 20px;
background-color: #FEB05E;
border-bottom: 2px solid #999966;
font-weight: bold;
color: #663300;
text-transform: uppercase;
padding: 0px 2px;
	}

.sectiontableentry1 {
background-color: #FFFAEC;
	}

.sectiontableentry2 {
background-color: #FFEFCA;
	}

/* --------- Mambo Style for Categories ---------*/

.category {
font-weight: bold;
vertical-align: middle;
	}

/* --------- Mambo Components Style ---------*/

.componentheading {
line-height: 22px;
font-size: 12px;
font-weight: bold;
color: #663300;
text-transform: uppercase;
text-align: center;
	}

/* --------- Mambo Modules Format ---------*/
	
table.moduletable {
width: 100%;
	}

table.moduletable th {
line-height: 24px;
background-image: url(../images/mod_bg.jpg);
background-repeat: repeat-x;
border-top: 1px solid #999966;
border-bottom: 1px solid #999966;
font-size: 11px;
font-weight: bold;
color: #993300;
text-align: center;
text-transform: uppercase;
	}

table.moduletable td {
background-color: transparent;
font-size: 11px;
color: #663300;
text-align: justify;
	}

table.moduletable ul {
margin: 0px;
padding: 0px;
list-style: none;
	}
	
table.moduletable li {
background-image: url(../images/arrow.png);
background-repeat: no-repeat;
background-position: left;
padding-left: 12px;
	}		

/* --------- Mambo's Built-in Component's Syling ---------*/

 /*  Polls  */
.pollstableborder {
border: 1px solid #999966;
	}

/*  Search  */
table.searchinto {
width: 100%;
	}

table.searchintro td {
color: #CC3300;
font-weight: bold;
	}

.highlight {
font-weight: bold;
color: #339900;
	}
