/* Body Radio Campus aktuell*/
BODY {
	margin: 0px 0px 0px 0px;
	background-color : #004D83 ;
	color : #000000;
	scrollbar-dlight-color: #0D3173;
	scrollbar-base-color: #B5C4D7;
	scrollbar-darkshadow-color: #0D3173;
	scrollbar-face-color: #B5C4D7;
	scrollbar-highlight-color: #B5C4D7;
	scrollbar-shadow-color: #B5C4D7;
	scrollbar-track-color: #6282A6;
	scrollbar-arrow-color: #0D3173;
	}

.headertable {
	border-bottom: 1px solid #003366;
	}

td.mainWindow {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	}	

td,tr,p,div {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	}

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #323A15;
	border-left: outset 2px #5B7122;
	border-right: outset 2px #808080;
	border-top: outset 2px #5B7122;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	cursor: hand;
	font-weight: bold;
	color: #FFFFFF;
}
.offtab {
	background-color : #e5e5e5;
	border-left: outset 2px #E0E0E0;
	border-right: outset 2px #E0E0E0;
	border-top: outset 2px #E0E0E0;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	cursor: hand;
	font-weight: normal;
}
.tabpadding {
}

.tabheading {
	background-color: #CCE197;
	text-align: left;
}

.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}

.h7 {
        color: #FFFF00; font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 12px; font-weight: bold;
	padding-left: 5px;
     }

h4 {
	color: #333333; font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px; font-weight: bold;
	}

h5 {
	color: #333333; font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px; font-weight: bold;
	}

h6 {
	color: #333333; font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px; font-weight: bold;
	}

/* Links */
a:link, a:visited {
	font-size: 11px; 
	color: #FFFFFF; 
	text-decoration: none;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	cursor: hand;
	}

a:hover {
	color: #6FA8DB;	text-decoration: none;
	}

/* Horizontal Line */
hr {
	background: #333333; height:2px; border: 1px solid;
	}

hr.separator {
	background: #333333;
	height: 1px;
	width: 75px;
	border: 0px;
}

/* --Default Class Settings-- */

a.mainlevel:link, a.mainlevel:visited {
	color: #FFFFFF;
	background-position: left;
	text-align: left;
 }

a.mainlevel:hover {
	color: #6FA8DB;
	background-position: left;
	text-align: left;
	}

a.mainmenu:link, a.mainmenu:visited {
	color: #FFFFFF; font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	}

a.mainmenu:hover, {
	color: #0099CC; text-decoration: underline;
	}
	
a.sublevel:hover {
	color: #0099CC; text-decoration: underline;
	}

a.sublevel:link, a.sublevel:visited {
	color: #333333; font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
}

/* Content - Sections & Categories */
.contentpane {
	background-color : #007294;
	padding-left: 5px;
	}

.contentpaneopen {
	border : 0px solid #FFFFFF;
	}
/* für inhaltsdarstellung */
.contentheading {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #FFFFFF;
	text-align:left;
	line-height: 16px;
	height: 15px;
	padding-left: 5px;
	}

.contentpagetitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
 	color: #333333;
	text-align:left;
	padding-left: 5px;
	}

table.contenttoc {
	color: #333300;
	background-color: #e0e0e0;
    }

table.contenttoc td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    text-align:left;
}

.contentdescription {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: left;
	padding-left: 5px;
	}

/* Links */
a.blogsection:link, a.blogsection:visited {
	color: #435A76; text-decoration: none; font-weight: normal;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	}

a.blogsection:hover {
	color: #0099CC;	text-decoration: underline;
	font-weight: normal;
	font-size: 10px;
	}

a.weblinks:link, a.weblinks:visited {
	color: #405115; text-decoration: none; font-weight: normal;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	}

a.weblinks:hover {
	color: #759328;	text-decoration: underline;
	}

a.readon:link, a.readon:visited {
	color: #FFFFFF; text-decoration: none; font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	white-space: normal;
	font-weight: normal;
	padding-left: 5px;
	}

a.readon:hover {
	color: #0099CC;	text-decoration: none;
	font-weight: normal;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	white-space: normal;
	padding-left: 5px;
	}

table.moduletable {
	margin: 0px 0px 0px 0px;
	width: 95%;
	border-left: solid 0px #000000;
	border-right: solid 0px #000000;
	border-top: solid 0px #000000;
	border-bottom: solid 0px #000000;
	padding-left: 5px;
	}
	
/*dies sind die headlines für die modulekaesten*/
table.moduletable th {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #6FA8DB;
	line-height: 20px;
	padding-left: 5px;
	}

table.moduletable td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 5px;
	}

.componentheading {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
 	color: #FFFFFF;
	text-align:left;
	background-repeat: no-repeat;
	line-height: 15px;
	height: 10px;
	white-space: normal;
	display: list-item;
	border-bottom: 1px solid #6FA8DB;
	padding-left: 5px;
	}

.button {
	color: #333333; font-family: Arial, Verdana, Helvetica, sans-serif;
	margin-top: 4px;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	font: bold;
	background: White;
	border: 1px solid #6282A6;
	height: 20px;
	}

.inputbox {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background: #EDF5FE;
	border: 1px solid #6282A6;
	}

/** category text format and links **/
.category {
	color: #FFFFFF; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; 
	text-decoration: none;
	}

a.category:link, a.category:visited {
	color: #FFFFFF; 
	}

a.category:hover {
	color: #004D83;
	}

.poll {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 14px
	}

.pollstableborder {
	border: 1px solid #6FA8DB;
}

.sectiontableentry1, {
	background-color : #247F9F;
	}
	
.sectiontableentry2 {
	background-color : #007294;
	}
/* headline in menuepunkt aufzählungen */
.sectiontableheader {
	background-color : #247F9F;
	color : #FFFFFF;
	font-weight : bold;
	padding-left: 5px;
	}

.small {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	}

.smalldark {
        font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
        text-decoration: none;
        font-weight: normal;
        }


.newsfeedheading {
        font-family: Arial, Verdana, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: #333333;
        text-align:left;
        }

.newsfeeddate {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #A7CF43;
	font-weight: normal;
}

.createdate {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
	}

.modifydate {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	font-weight: normal;
	}

ul {
	margin: 0px 0px 0px 0px;
	}

li {
	list-style: inside url(file:///C|/Inetpub/wwwroot/visualcms/templates/visualdensity/images/arrow.gif) 3px;
	list-style-image:  url(file:///C|/Inetpub/wwwroot/visualcms/templates/visualdensity/images/arrow.gif);
	}

.fase4rdf {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px; color: #242D0C; font-weight: normal;
	}

a.fase4rdf:link {
	font-size: 11px; font-weight: normal; color: #405115;
	}

a.fase4rdf:hover {
	font-weight: bold; color: #759328;
	}

table.searchintro {
  	background-color: #FFFFFF;
	border: 1px solid #759328;
	}

/* CSS-Anweisungen für Contact Site */
table.contact {
/*	background-color: #FFFFFF; */
	background-color: #007294;
	}

table.contact td.icons {
	/* background-color: #B5C4D7; */
	background-color: #007294;
	}

table.contact td.details {
	/* background-color: #EDF5FE; joc*/
	background-color: #007294;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	}

.pagenav {
	font-weight: normal;
}

a.pagenav, a.pagenav:visited {
	font-weight: bold;
	color: #333333;
}

a.pagenav:hover {
	color: #FF9900;
}

.pagenavbar {
	
}

/* Content voting */
.content_rating {
	font-weight: normal;
	font-size: 8pt;
}

.content_vote {
	font-weight: normal;
	font-size: 8pt;
}

/* eigene aenderungen*/
.pathway {
	font: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #005D83;
}

a.pathway:link, a.pathway:visited {
	 color: #005D83;
	 background-position: left;
	 text-align: left;
	}
 a.pathway:hover {
	color: #FFFFFF;
	background-position: left;
	text-align: left;
}
									 

td.borderleft {
	background: #007294;
	border-right: 1px solid #6FA8DB;
}

td.bordertopbottom {
		        border-top: 1px solid #6FA8DB;
			border-bottom: 1px solid #6FA8DB;
			background: #247F9F; 
			color: #FFFFFF;
		}
	
td.borderright {
	        background: #007294; 
		        border-left: 1px solid #6FA8DB;
		}

td.bordertop {
	        background: #007294;
		        border-bottom: 1px solid #6FA8DB;
		}
headline_nav  {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold; color: #FFFFFF;
}

td.borderleft_main {
	        background: #005D83;
		border-right: 1px solid #6FA8DB;
}

td.bordertopbottom_main {
                border-top: 1px solid #6FA8DB;
                border-bottom: 1px solid #6FA8DB;
                background: #007294;
                color: #FFFFFF;
		margin 3px 3px 3px 3px;
}
td.borderright_main {
                background: #005D83;
                border-left: 1px solid #6FA8DB;
}
																							
img.bildrechts {
		border: 1px solid #6FA8DB;
	}
	
td.login {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;	
	padding-left: 5px;
}
